DATABASE_URL="postgresql://postgres.YOUR_PROJECT_REF:YOUR_PASSWORD@aws-0-us-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.YOUR_PROJECT_REF:YOUR_PASSWORD@aws-0-us-west-2.pooler.supabase.com:5432/postgres"

JWT_SECRET=YOUR_PRODUCTION_JWT_SECRET
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=YOUR_PRODUCTION_REFRESH_SECRET
JWT_REFRESH_EXPIRES_IN=30d

BCRYPT_ROUNDS=12
APP_ENV=production
PORT=3000
APP_URL=https://seu-dominio.com.br
APP_DOMAIN=seu-dominio.com.br
CORS_ORIGIN=https://seu-dominio.com.br,https://www.seu-dominio.com.br
